ol{
    list-style-type: upper-roman;
    background-color: orange;
    padding: 15px;
}
li{
    background-color: yellow;
    
}
ul{
    list-style-type: square;
    background-color: green;
    padding: 15px;

}
#s1{
    background-color: aquamarine;
    margin: 2px;
}
